{
  "extends": [
    "plugin:react/recommended",
    "prettier-standard"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/no-deprecated": 0
  }
}
